In [0]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.decomposition import TruncatedSVD

In [18]:
columns = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('/content/u.data', sep='\t', names=columns)
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [19]:
columns = ['item_id', 'movie title', 'release date', 'video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
          'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
          'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

movies = pd.read_csv('/content/u.item', sep='|', encoding='latin-1', names=columns)
movies = movies[['item_id', 'movie title']]
movies.head()

   item_id        movie title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [20]:
# Merge both the dataframes to get the mapping of movie title with item_id(ie.,movie_id)
combined_movies_data = pd.merge(df, movies, on='item_id')
combined_movies_data.head()

   user_id  item_id  rating  timestamp   movie title
0      196      242       3  881250949  Kolya (1996)
1       63      242       3  875747190  Kolya (1996)
2      226      242       5  883888671  Kolya (1996)
3      154      242       3  879138235  Kolya (1996)
4      306      242       5  876503793  Kolya (1996)

In [22]:
rating_count = combined_movies_data.groupby(by='item_id')['rating'].count().sort_values(ascending=False)
rating_count.head()

item_id
50     583
258    509
100    508
181    507
294    485
Name: rating, dtype: int64

In [25]:
# Finding the movie_title which has the highest rating count
filter = combined_movies_data[combined_movies_data['item_id']==50]['movie title']
filter.unique()

array(['Star Wars (1977)'], dtype=object)

### Building a utility matrix

In [28]:
rating_crosstab = pd.pivot_table(data=combined_movies_data, values='rating', index='user_id', columns='movie title', fill_value=0)
rating_crosstab.head()

movie title  'Til There Was You (1997)  ...  Á köldum klaka (Cold Fever) (1994)
user_id                                 ...
1                                    0  ...                                   0
2                                    0  ...                                   0
3                                    0  ...                                   0
4                                    0  ...                                   0
5                                    0  ...                                   0

[5 rows x 1664 columns]

### Transposing the matrix
Since we need movie recommendation, we have to preserve it and not truncate it. Hence we need to traanspose and truncate users(in columns) to 12

In [29]:
rating_crosstab.shape

(943, 1664)

In [33]:
X = rating_crosstab.T
X.shape

(1664, 943)

### Decomposing the matrix

In [34]:
svd = TruncatedSVD(n_components=12, random_state=12)
resultant_matrix = svd.fit_transform(X)
resultant_matrix.shape

(1664, 12)

### Generating a correlation matrix

How a movie of interest correlates with other movies

In [35]:
corr_mat = np.corrcoef(resultant_matrix)
corr_mat.shape

(1664, 1664)

### Isolating Star Wars from the correlation matrix

In [54]:
movies_names = rating_crosstab.columns
movies_list = list(rating_crosstab.columns)

star_wars = movies_list.index('Star Wars (1977)')
print(star_wars)

1398

In [55]:
corr_star_wars = corr_mat[star_wars]
corr_star_wars.shape

(1664,)

### Recommending a highly correlated movie

In [60]:
print('Recommended movie: ', movies_names[(corr_star_wars<1.0) & (corr_star_wars>0.95)][0])

Recommended movie:  Return of the Jedi (1983)